.nav-link {
    color: white;
}

h1 {
    color: black;
}

.logo {
    font-family: Impact, serif;
}

.carousel .slide {
    /*background-color: transparent !important;*/
    background-color: darkblue;
    max-height: 600px;
}

.card {
    position: center;
}
