.nav-link {
    color: white;
}

h1 {
    color: black;
}

.logo {
    font-family: Impact, serif;
}

body {
    background-color: #f8f9fa!important;
}

.carousel .slide {
    /* background-color: darkblue; */
    background-color: #282c34 !important;
}

.card {
    position: center;
}

img.wbdv-recommendation-poster {
    margin: 10px 0;
    object-fit: contain;
    height: 350px;
    max-width: 100%;
}