h3 {
    border-style: double;
    border-width: 2px;
    border-color: blue;
    color: blue;
}

img#wbdv-results {
    margin-left: 50px;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: center;
}

card {
    margin-left: 50px;
    padding: 10px;
}
