/* Source: https://www.w3schools.com/w3css/w3css_cards.asp */

img#wbdv-results {
    margin-left: 50px;
    padding: 10px;
    position: center;

    /* responsive measures */
    max-width: 200px;
    height: auto;
    box-sizing: content-box;
}

w3-card {
    margin-left: 50px;
    padding: 10px;
    height: auto;

    /* make card responsive as well */
    box-sizing: border-box;
    width: 200px;
}

w3-card-4 {
    padding: 15px;
    margin-left: 50px;
}

.wbdv-list-item-border {
    border-style: solid;
    margin-bottom: 10px;
}
