.logo {
    font-family: Impact, serif;
}

.user-box{
    margin: 30px;
    width: 450px;
}

.user-photo{
    padding: 30px;
    margin-top: 30px;
    position: relative;
    margin-right: auto;
    width: 400px;
}

.dashboard{
    color: white;
    font-size: 150%;
    margin-left: 50px;
}
